#%RAML 1.0
title: PoomCI Dependency API
version: v1
baseUri: https://api.codingmatters.org/poom-ci
mediaType: application/json

/repositories:
   displayName: Repositories

   get:
      responses:
         200:
            body: Repository[]
         400:
            body: Error
         404:
            body: Error
         500:
            body: Error

   /{repository-id}:
      displayName: Repository
      uriParameters:
         repository-id: string

      get:
         responses:
            200:
               body: Repository
            400:
               body: Error
            404:
               body: Error
            500:
               body: Error

      put:
         body: FullRepository
         responses:
            200:
               body: Repository
            400:
               body: Error
            500:
               body: Error

      delete:
         responses:
            200:
            404:
               body: Error
            500:
               body: Error

      /produces:
         displayName: RepositoryModules
         get:
            responses:
               200:
                  body: Module[]
               400:
                  body: Error
               404:
                  body: Error
               500:
                  body: Error

      /depends-on:
         displayName: RepositoryDependencies
         get:
            responses:
               200:
                  body: Module[]
               400:
                  body: Error
               404:
                  body: Error
               500:
                  body: Error

      /downstream:
         displayName: RepositoryDownstreamRepositories
         get:
            responses:
               200:
                  body: Repository[]
               400:
                  body: Error
               404:
                  body: Error
               500:
                  body: Error

         /just-next:
            displayName: RepositoryJustNextDownstreamRepositories
            get:
               responses:
                  200:
                     body: Repository[]
                  400:
                     body: Error
                  404:
                     body: Error
                  500:
                     body: Error

/graph:
  displayName: repository graph
  get:
    queryParameters:
      root: string
    responses:
      200:
        body: RepositoryGraph
      500:
        body: Error

types:

   Repository:
      type: object
      properties:
         id: string
         name: string
         checkoutSpec: string

   Module:
      type: object
      properties:
         spec: string
         version: string


   FullRepository:
      type: object
      properties:
         id: string
         name: string
         checkoutSpec: string
         dependencies:
            type: array
            items: Module
         produces:
            type: array
            items: Module


   RepositoryGraph:
      type: object
      properties:
         id: string
         roots:
            type: array
            items: string
         repositories:
            type: array
            items: Repository
         relations:
            type: array
            items: RepositoryRelation


   RepositoryRelation:
     type: object
     properties:
       upstreamRepository: string
       dependency: Module
       downstreamRepository: string


   Error:
      type: object
      properties:
         token: string
         code:
            enum: [
               ILLEGAL_RANGE_SPEC,
               UNEXPECTED_ERROR,
               RESOURCE_NOT_FOUND,
               ILLEGAL_RESOURCE_CREATION, ILLEGAL_RESOURCE_CHANGE, ILLEGAL_REQUEST,
               ILLEGAL_COLLECTION_CHANGE,
               ]
         description: string